<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/">New Game</a></li>
</ul
  <body style="padding-top: 50px;">
  
  <%if @error %>
      <div class="alert alert-danger"><%=@error%></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
      <%= yield %>



  </body>
</html>
