<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">
<div class= "nav"
<nav class="navbar navbar-default navbar-fixed-top">
      <a class="navbar-brand" href="/">New Game</a>
<!-- <div class="container new_game"> -->

    <%if @error %>
      <div class="alert alert-danger"><%=@error%></div>
    <% end %>
    <%if @success %>
      <div class="alert alert-success"><%=@success%></div>
    <% end %>
      <%= yield %>



  </body>
</html>
