
<div class="well well-lg">
  <div class="center-block">
  <h1>WELCOME TO BLACKJACK!</h1>
    <h3>What's your name?</h3>
    <form action='/new_player' method='post'>
      <input type='text' name='name'> <br>
      <input type ='submit' class= 'btn btn-default' role="button">
    </form>
  </div>
</div>