
/*form#stay_button{
  float: right;
}

form#hit_button{
  float: right;
}
*/

body{ 
  background-color: black;
  display: block;
}

h1{
  text-align: center;
}

h3{
  font-weight: bold;
  color:black;
  text-align: center;
/*  width:400em;*/
}

h4{
  color:white;
  margin-bottom: 1em;
}
#navbar-player{
  color:red;
  font-style:italic;
  font-size:3em;
  box-shadow: 1px 1px 5px 1pt white;
  text-decoration: none;
}
.navbar-header{
  color:none;
/*  padding-bottom: 5em;*/
}

/*a{
  text-decoration: none;
  color:black;
}*/

.game{
  margin:0em;

}
/*===============================================
              NEW PLAYER PAGE 
===============================================*/
.center-block{ 
  display: block;
}
.name-form{
  text-align: center;
}
.name-btn{
  margin-top: 1em;
}

.container{

  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.well-lg {
  position:block;
  background-position: center;
  background: white;
  margin-top: 7em;
  padding-top:5em;
  padding-left:32em;
  padding-right:32em;
  padding-bottom: 5em; 
}
/*===============================================
                 BET PAGE
===============================================*/


.row {
  display:inline-block;
  background-color: green;
  height:14em;
  width:50em;
  float: left;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1pt white;
}
.bet{
  display:inline-block;
  width:30em;
  height:14em;
  background-color: beige;
  margin-left:3.5em;
  outline-width: .11em;
  border-radius: 3px;
  box-shadow: 1px 1px 5px 1pt white;
  text-align: center;
}

.bet-page-text{
  color:black;
}

.bet-btn{
  margin-top: 1em;
  min-width:12.5em;
  max-width:  13em;
}

img{
  border-radius: 3px;
}
.well-cards{

  background-color: green;
  height: 200px;
  max-width:700px;
}
.cards{
  position:relative;
  height: 8em;
  max-width:8em;
  border-radius: 3px; 
}

div.buttons{

  display: inline-block;
  margin-top: -15.8em;
  margin-right: 5em;
  float:right;
  width:30em;
  height:14.5em;
  background-color: beige;
  text-align: center;
  border-radius: 3px;
  color:black;
}

.btn-lg{
  margin-top: 1em;
  min-width:10em;
  max-width:  13em;
  text-align: center;
  position: relative;
}

#bet-again{
  color:black;
}
/*===============================================
                 BET PAGE
===============================================*/





